<% unless @message %>
	<div id="myModal" class="reveal-modal">
		<h1>Message from the Eventifier</h1>
		<% @message.each do |message| %>
			<p><%= message %></p>
	<% end %>
	<a class="close-reveal-modal">&#215;</a>
</div>
<% end %>

<ul>
<% @events.each do |event| %>
  <li><a href="/events/<%=event.id%>/show"><%=event.date%></a> - <%=event.title%></li>
<% end %>
</ul>

<a href="/events/new"><button>Create a new event!</button></a>
